//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$color-black: #000;
$color-white: #fff;
$color-black-haze: #f7f8f8;